//large Screeens
@include mediaXl{
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}

//laptos And desktops
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3,1fr);
       
    }
}

//tablets and Small laptops
@include mediaMd{
    main{
        align-items: center;
        text-align: center;
    }
    .lg-heading{
        line-height: 5rem;
        margin-bottom: 1rem;
    }
    ul.menu-nav,div.menu-branding{
        float: none;
        width:100%;
        min-height:0;
        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height:75vh;
        transform: translate3d(-100%,0,0);
        font-size:24px;
    }
    .menu-branding{
        height:25vh;
        transform: translate3d(100%,0,0);

        .portrait{
            height:150px;
            width:150px;
        }
    }
    .bioinfo{
        grid-template-areas: 
        'bio-portrait' 'bio' !important;
        grid-template-columns:1fr !important;
       
       
    }
   .bio-portrait{
       
       height: 150px !important;
       width: 150px !important;
   }
   .projects{
    grid-template-columns: repeat(2,1fr);
   
}
}

//smartphones
@include mediaSm{
    main#home h1{
        margin-top:10vh;
    }
    .projects{
        grid-template-columns: 1fr;
       
    }
}
